<!DOCTYPE html>


<html lang="en">


    
    <head>
    
        <meta charset="utf-8" />
    
    

        @_SiteLayout.RenderPageTitle()
    
    

        @_SiteLayout.DeclareStyleSheets()
    
    

        @_SiteLayout.RenderFavIcon()
    


        @_SiteLayout.DeclareJqueryScripts()


        @_SiteLayout.DeclareModernizrScript()
    

        <meta 
            
            name="viewport" 
            
            content="width=device-width" 
            
        />
    

    </head>
    
    
    
    
    <body>
    

        @_SiteLayout.RenderPageHeader()
        
        

        
        <div id="body">
        
            @RenderSection("featured", required: false)
        
            <section class="content-wrapper main-content clear-fix">
        
                @RenderBody()
        
            </section>
        
        </div>
        
        
        @_SiteLayout.RenderPageFooter()
                
        @RenderSection("Scripts", required: false)


    </body>


</html>