@helper DeclareStyleSheets()
{
    <link 
            
        href="~/Content/themes/base/jquery.ui.all.css"

        rel="stylesheet" 
        type="text/css" 
            
        />


    <link 
            
        href="~/Content/Site.css" 
        rel="stylesheet" 
        type="text/css" 
            
        />
}



@helper DeclareJqueryScripts()
{
    <script src="~/Scripts/jquery-1.8.2.min.js"> </script>

    <script src="~/Scripts/jquery-ui-1.8.24.js"> </script>
}



@helper DeclareModernizrScript()
{
    <script src="~/Scripts/modernizr-2.6.2.js"> 
    
    </script>
}



@helper RenderFavIcon()
{
    <link 
            
        href="~/favicon.ico" 
            
        rel="shortcut icon" 
            
        type="image/x-icon" 
            
        />
}




@helper RenderPageFooter()
{
    
    
    <footer>
        
        <div class="content-wrapper">
        
            <div class="float-left">
        
                <p>
                    
                    &copy; @DateTime.Now.Year 
                    - My ASP.NET Web Page
                
                </p>
        
            </div>
        
        </div>
        
    </footer>

    
}





@helper RenderNavBar()
{
    <nav>
        
        <ul id="menu">
        
            <li><a href="~/">Home</a></li>
        
            <li><a href="~/About">About</a></li>
        
            <li><a href="~/Contact">Contact</a></li>
        
        </ul>
        
    </nav>
}




@helper RenderRegisterAndLoginLinks()
{
    
    <ul>
                                        

        <li>
                                    
            <a href="~/Account/Register">Register</a>
                                
        </li>
                                
        <li>
                                    
            <a href="~/Account/Login">Log in</a>
                                
        </li>
                            
    </ul>

    
}





@helper RenderUserHelloMessage()
{
    @:Hello,


    <a 
                                                

        class="
            email" 
                                                

        href="~/Account/Manage" 
                                                

        title="Manage"
                                                

        >

                                                

                                                
        @WebSecurity.CurrentUserName
                                            

                                            
    </a>

    @:!
}


@helper RenderLogOutForm()
{
    <form id="logoutForm" action="~/Account/Logout" method="post">
                            
        @AntiForgery.GetHtml()
                            
        <a href="javascript:document.getElementById('logoutForm').submit()"
            >
                                     
            Log out
                                 
        </a>
                            
    </form>
}
@helper RenderUserWelcomeMessage()
{
    @RenderUserHelloMessage()

    @RenderLogOutForm()
}
@helper RenderUserLoginSection()
{
    <section id="login">
                
                        
        @if (WebSecurity.IsAuthenticated)
        {
            @RenderUserWelcomeMessage()
        }
        else
        {
            @RenderRegisterAndLoginLinks()
        }

    </section>
}
@helper RenderLeftFloater()
{
    <div class="float-left">
    
        <p class="site-title">
                        
            <a href="~/">your logo here</a>
                    
        </p>
    
    </div>
}
@helper RenderRightFloater()
{
    <div class="float-right">
                
        @RenderUserLoginSection()
        
        @RenderNavBar()
        
    </div>
}
@helper RenderPageHeader()
{
    <header>
    
    

        <div class="content-wrapper">
    
            @RenderLeftFloater()
                
            @RenderRightFloater()
        
        </div>
        
        

    </header>
}
@helper RenderPageTitle()
{
    <title>
            
        @Page.Title 
        - My ASP.NET Web Page
        
    </title>
}














